body{background-color: wheat;
} 
h1{
    text-align: center;
    color: red;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 30px;

}
